<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>simplty is arty</title>
</head>
<body>
<!--<a href="#戳我有惊喜">直播吧</a>-->
<!--<ul>-->
<!--    <li>西游记</li>-->
<!--    <li>sanguo</li>-->
<!--</ul>-->
<div class= "web">
	<a href="https://www.365wmvip1311.com:32800/register/?i_code=4580089" target="_blank">牛宝体育手机版点击进入</a><br>
	<a href="https://www.hqty52.com:35554/register/?i_code=9819377" target="_blank">环球体育PC版点击进入</a><br>
	<a href="https://www.lt115.com/cn/a/424153/542086" target="_blank">乐投体育点击进入</a>
</div>
<h3>今日NBA赛事</h3>
<ul>
{% for user in nba %}
    <li>{{ user.leftName }}{{ user.leftGoal}}:{{ user.rightGoal}}{{ user.rightName}}</li>
    <a href={{ user.webUrl}}>马化腾给的观看地址</a>
{% endfor %}
</ul>





<!--    <ul class="ui">-->
<!--&lt;!&ndash;        <li>客队：{{ nba.0.leftName}}</li>&ndash;&gt;-->
<!--&lt;!&ndash;        <li>客队比分：{{ nba.0.leftGoal}}</li>&ndash;&gt;-->
<!--&lt;!&ndash;        <li>主队比分：{{ nba.0.rightGoal}}</li>&ndash;&gt;-->
<!--&lt;!&ndash;        <li>主队：{{ nba.0.rightName}}</li>&ndash;&gt;-->
<!--        <div>{{ nba.0.leftName }}{{ nba.0.leftGoal}}:{{ nba.0.rightGoal}}{{ nba.0.rightName}}</div>-->

<!--        <li><a href={{ nba.0.webUrl}}>马化腾观看地址</a></li>-->
<!--    </ul>-->

<!-- <ul class="ui">-->
<!--        <li>客队：{{ nba.1.leftName}}</li>-->
<!--        <li>客队比分：{{ nba.1.leftGoal}}</li>-->
<!--        <li>主队比分：{{ nba.1.rightGoal}}</li>-->
<!--        <li>主队：{{ nba.1.rightName}}</li>-->

<!--        <li><a href={{ nba.1.webUrl}}>马化腾观看地址</a></li>-->
<!--    </ul>-->

<!--<ul class="ui">-->
<!--        <li>客队：{{ nba.2.leftName}}</li>-->
<!--        <li>客队比分：{{ nba.2.leftGoal}}</li>-->
<!--        <li>主队比分：{{ nba.2.rightGoal}}</li>-->
<!--        <li>主队：{{ nba.2.rightName}}</li>-->

<!--        <li><a href={{ nba.2.webUrl}}>马化腾观看地址</a></li>-->
<!--    </ul>-->

<!--<ul class="ui">-->
<!--        <li>客队：{{ nba.3.leftName}}</li>-->
<!--        <li>客队比分：{{ nba.3.leftGoal}}</li>-->
<!--        <li>主队比分：{{ nba.3.rightGoal}}</li>-->
<!--        <li>主队：{{ nba.3.rightName}}</li>-->
<!--        <li><a href={{ nba.3.webUrl}}>马化腾观看地址</a></li>-->
<!--    </ul>-->

<!--    <ul class="ui">-->
<!--        <li>客队：{{ nba.4.leftName}}</li>-->
<!--        <li>客队比分：{{ nba.4.leftGoal}}</li>-->
<!--        <li>主队比分：{{ nba.4.rightGoal}}</li>-->
<!--        <li>主队：{{ nba.4.rightName}}</li>-->
<!--        <li><a href={{ nba.4.webUrl}}>马化腾观看地址</a></li>-->
<!--    </ul>-->

<!--    <ul class="ui">-->
<!--        <li>客队：{{ nba.5.leftName}}</li>-->
<!--        <li>客队比分：{{ nba.5.leftGoal}}</li>-->
<!--        <li>主队比分：{{ nba.5.rightGoal}}</li>-->
<!--        <li>主队：{{ nba.5.rightName}}</li>-->
<!--        <li><a href={{ nba.5.webUrl}}>马化腾观看地址</a></li>-->
<!--    </ul>-->
<!--<ul class="ui">-->
<!--        <li>客队：{{ nba.6.leftName}}</li>-->
<!--        <li>客队比分：{{ nba.6.leftGoal}}</li>-->
<!--        <li>主队比分：{{ nba.6.rightGoal}}</li>-->
<!--        <li>主队：{{ nba.6.rightName}}</li>-->
<!--        <li><a href={{ nba.6.webUrl}}>马化腾观看地址</a></li>-->
<!--    </ul>-->

<!--    <ul class="ui">-->
<!--        <li>客队：{{ nba.7.leftName}}</li>-->
<!--        <li>客队比分：{{ nba.7.leftGoal}}</li>-->
<!--        <li>主队比分：{{ nba.7.rightGoal}}</li>-->
<!--        <li>主队：{{ nba.7.rightName}}</li>-->
<!--        <li><a href={{ nba.7.webUrl}}>马化腾观看地址</a></li>-->
<!--    </ul>-->
<!--     <ul class="ui">-->
<!--        <li>客队：{{ nba.8.leftName}}</li>-->
<!--        <li>客队比分：{{ nba.8.leftGoal}}</li>-->
<!--        <li>主队比分：{{ nba.8.rightGoal}}</li>-->
<!--        <li>主队：{{ nba.8.rightName}}</li>-->
<!--        <li><a href={{ nba.8.webUrl}}>马化腾观看地址</a></li>-->
<!--    </ul>-->
<!--     <ul class="ui">-->
<!--        <li>客队：{{ nba.9.leftName}}</li>-->
<!--        <li>客队比分：{{ nba.9.leftGoal}}</li>-->
<!--        <li>主队比分：{{ nba.9.rightGoal}}</li>-->
<!--        <li>主队：{{ nba.9.rightName}}</li>-->
<!--        <li><a href={{ nba.9.webUrl}}>马化腾观看地址</a></li>-->
<!--    </ul>-->
<!--     <ul class="ui">-->
<!--        <li>客队：{{ nba.10.leftName}}</li>-->
<!--        <li>客队比分：{{ nba.10.leftGoal}}</li>-->
<!--        <li>主队比分：{{ nba.10.rightGoal}}</li>-->
<!--        <li>主队：{{ nba.10.rightName}}</li>-->
<!--        <li><a href={{ nba.10.webUrl}}>马化腾观看地址</a></li>-->
<!--    </ul>-->
<!--    <ul class="ui">-->
<!--        <li>客队：{{ nba.11.leftName}}</li>-->
<!--        <li>客队比分：{{ nba.11.leftGoal}}</li>-->
<!--        <li>主队比分：{{ nba.11.rightGoal}}</li>-->
<!--        <li>主队：{{ nba.11.rightName}}</li>-->
<!--        <li><a href={{ nba.11.webUrl}}>马化腾观看地址</a></li>-->
<!--    </ul>-->
</body>
</html>